<div class="sidebar">
    <div class="logo">
      <img src="../assets/sm.png" alt="plana Logo">
    </div>
    <div class="sidebar-links" >
      <a routerLink="/li" routerLinkActive="active" class="sidebar-link" style="color:#7d7d7d;">
        <fa-icon [icon]="faChartPie"></fa-icon>
        <span>Dashboard</span>
      </a>
      <a routerLink="/os" routerLinkActive="active" class="sidebar-link" style="color:#7d7d7d;">
        <fa-icon [icon]="faBox"></fa-icon>
        <span>Event-Oversight</span>
      </a>
      <a routerLink="/su" class="sidebar-link" routerLinkActive="active"  style="color:#7d7d7d;">
        <fa-icon [icon]="faUsers"></fa-icon>
        <span> User-management</span>
      </a>
      <a routerLink="/role" routerLinkActive="active" class="sidebar-link" style="color:#7d7d7d;">
        <fa-icon [icon]="faClipboardList"></fa-icon>
        <span>Role-management</span>
      </a>
      
      <a routerLink="/ap" routerLinkActive="active" class="sidebar-link" style="color:#7d7d7d;">
        <fa-icon [icon]="faUserCog"></fa-icon>
        <span>Profile Settings</span>
      </a>
      
      <a routerLink="/ld" class="sidebar-link" style="color:#7d7d7d;">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
          <span>Logout</span>
      </a>
    </div>
    </div>
  