<!-- <div class="page-container">
    <-sidebar></-sidebar>
<div class="page-content">
    <-navbar></-navbar>
    <page-content></page-content>
</div>
</div> -->

<!-- event Slider Section -->
<app-navbar></app-navbar>
<div class="cc">
  <div
    class="slider"
    style="
      background-image: url('https://i.pinimg.com/564x/6a/71/e4/6a71e445a68c38f4bde91b1a8b3b536f.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 800px;
      height: 600px;
    "
  >
    <div class="sliderWrapper">
      <div class="sliderItem">
        <img
          src="https://i.pinimg.com/474x/47/eb/da/47ebdaa8ec0978ca6669d7967a47d181.jpg"
          class="sliderImg"
        />
        <div class="sliderBg"></div>
        <h1 class="sliderTitle">
          ANIME<br />
          COSPLAY<br />
          SEASON
        </h1>
      </div>
      <div class="sliderItem">
        <img src="../assets/blazer.png" class="sliderImg" />
        <div class="sliderBg"></div>
        <h1 class="sliderTitle">
          BLAZER<br />
          NEW<br />
          SEASON
        </h1>
        <h2 class="sliderPrice">$129</h2>
        <button class="buyButton">BUY NOW</button>
      </div>
      <div class="sliderItem">
        <img src="../assets/crater.png" class="sliderImg" />
        <div class="sliderBg"></div>
        <h1 class="sliderTitle">
          CRATER<br />
          NEW<br />
          SEASON
        </h1>
        <h2 class="sliderPrice">$139</h2>
        <button class="buyButton">BUY NOW</button>
      </div>
      <div class="sliderItem">
        <img src="../assets/hippie.png" class="sliderImg" />
        <div class="sliderBg"></div>
        <h1 class="sliderTitle">
          HIPPIE<br />
          NEW<br />
          SEASON
        </h1>
        <h2 class="sliderPrice">$149</h2>
        <button class="buyButton">BUY NOW</button>
      </div>
      <div class="sliderItem">
        <img src="../assets/air2.png" class="sliderImg" />
        <div class="sliderBg"></div>
        <h1 class="sliderTitle">
          FORCE<br />
          NEW<br />
          SEASON
        </h1>
        <h2 class="sliderPrice">$119</h2>
        <button class="buyButton">BUY NOW</button>
      </div>
    </div>
  </div>
  <div class="vv">
    <p style="font-size:47px;"> </p>

  </div>
</div>

<!-- Features Section -->
<div class="features">
  <div class="feature">
    <img
      src="https://i.pinimg.com/474x/44/9a/00/449a00d9adda1b72d1cd8b6eaa7cbd59.jpg"
      class="featureIcon"
    />
    <span class="featureTitle">FREE SHIPPING</span>
    <span class="featureDesc">Free worldwide shipping on all orders</span>
  </div>
  <div class="feature">
    <img
      src="https://i.pinimg.com/474x/7d/20/41/7d20418b9726eed183f5cf866e158984.jpg"
      class="featureIcon"
    />
    <span class="featureTitle">30 DAYS RETURN</span>
    <span class="featureDesc">Easy Return and Refund in 14 days</span>
  </div>
  <div class="feature">
    <img
      src="https://i.pinimg.com/564x/43/7c/86/437c867164ced1dd4bb7c1129ca866c7.jpg"
      class="featureIcon"
    />
    <span class="featureTitle">GIFT CARD</span>
    <span class="featureDesc">Buy Gift Cards and use Coupon Codes easily</span>
  </div>
  <div class="feature">
    <img
      src="https://i.pinimg.com/474x/a4/23/36/a423366cc2d41a4a9493139fecde403e.jpg"
      class="featureIcon"
    />
    <span class="featureTitle">CONTACT US</span>
    <span class="featureDesc">Keep in touch via email and ticket system</span>
  </div>
</div>

<div class="gallery">
  <div class="galleryItem">
    <img
      src="https://i.pinimg.com/474x/27/84/64/2784649f7d43bdaa2f7193524feff936.jpg"
      class="galleryImg"
    />
    <h1 class="galleryTitle">animeeeeeeeeeeeeeeee</h1>
  </div>
  <div class="galleryItem">
    <img
      src="https://i.pinimg.com/474x/64/b9/21/64b9218bb4d2d86b5c75e73162ec8a24.jpg"
      class="galleryImg"
    />
    <h1 class="galleryTitle">eveeeeeeeeeeeents</h1>
  </div>
  <div class="galleryItem">
    <img
      src="https://i.pinimg.com/474x/d4/27/53/d42753d16fc497ba405961ace5b3dae8.jpg"
      class="galleryImg"
    />
    <h1 class="galleryTitle">anime eventsss</h1>
  </div>
  <div class="galleryItem">
    <img
      src="https://i.pinimg.com/564x/bd/e1/79/bde179009bb11898458168bf01f75100.jpg"
      class="galleryImg"
    />
    <h1 class="galleryTitle">
      And We also have the best anime clothing just for you
    </h1>
  </div>
</div>

<!-- <div class="gallery" style="background-color: black; margin: 0px">
  <div class="galleryItem1">
    <img
      src="https://i.pinimg.com/474x/c9/1b/2f/c91b2fa3fe76a786eab5e529ba443d4f.jpg"
      class="galleryImg1"
    />
  </div>
  <div class="p1" style="color: #d5b31a">
    <p>
      Cosplay Extravaganza is a premier event for anime enthusiasts and cosplay artists from all over the region. Held annually at the Downtown Convention Center, this event promises a day filled with excitement, 
    </p>
  </div>
</div>

<div class="gallery" style="background-color: rgb(139, 5, 5); margin: 0px">
  <div class="p2" style="color: #a2a0a0">
    <p>
      Anime Fest is an ultimate celebration of anime culture, taking place at the Westside Expo Hall. This immersive event spans a weekend and offers a rich array of activities designed to captivate anime fans of all ages. Highlights 
    </p>
  </div>

  <div class="galleryItem2">
    <img
      src="https://i.pinimg.com/474x/59/ab/2d/59ab2d9aba5a9f7a14af37b26ec0c4c3.jpg"
      class="galleryImg2"
    />
  </div>
</div> -->

<!-- New Season Section  -->
<div class="events">
  <div *ngFor="let event of filteredEvents" class="event-item">
    
    <div class="event-content">
      <h3>{{ event.title }}</h3>
      <p class="price">Ksh. {{ event.price }}</p>
      
      
    </div>
    <div class="actions">
      <button class="view-button">View</button>
      <!-- <fa-icon [icon]="faShoppingBag" class="action-icon" routerLink="/login"></fa-icon> -->
    </div>
  </div>
</div>
<!-- Footer Section  -->
 <div class="relative w-full h-full bottom-0 bg-gradient-to-t from-black">

<footer style="margin: 0px;" >  
  <!-- Footer Left  -->
  <div class="footerLeft">
    <div class="footerMenu">
      <h1 class="fMenuTitle">About Us</h1>
      <ul class="fList">
        <li class="fListItem">Stores</li>
        <li class="fListItem">Company</li>
        <li class="fListItem">Contact</li>
        <li class="fListItem">Careers</li>
        <li class="fListItem">Affiliates</li>
      </ul>
    </div>
    <div class="footerMenu">
      <h1 class="fMenuTitle">Useful Links</h1>
      <ul class="fList">
        <li class="fListItem">FAQ's</li>
        <li class="fListItem">Refund</li>
        <li class="fListItem">Stories</li>
        <li class="fListItem">Support</li>
        <li class="fListItem">Feedback</li>
      </ul>
    </div>
    <div class="footerMenu">
      <h1 class="fMenuTitle">events</h1>
      <ul class="fList">
        <li class="fListItem">Anime cosplay</li>
        <li class="fListItem">Anime Trivias</li>
        <li class="fListItem">Weeb Get aways</li>
        <li class="fListItem">Anime merch</li>
        <li class="fListItem">Rustage</li>
      </ul>
    </div>
  </div>

  <!-- Footer Right  -->
  <div class="footerRight">
    <div class="footerRightMenu">
      <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
      <div class="fMail">
        <input type="text" placeholder="email@shoppie.com" class="fInput" />
        <a routerLink="">
          <button class="fButton">Join Now</button>
        </a>
      </div>
    </div>
  </div>
  
 
</footer>
 </div>




  
  
 

                



<!-- 11111111111111111111111111111111111111111111111 -->
<!-- <section
  id="contact"
  class="relative bg-cover bg-center h-screen"
  style="background-image: url('https://i.pinimg.com/564x/a4/6b/40/a46b40b88856204170662c78ee370583.jpg')"
>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative flex items-center justify-center h-full">
    <div class="text-center text-white">
      <h2 class="text-4xl font-bold mb-6">Contact Us</h2>
      <p class="text-lg mb-6">
        Have questions or want to learn more? Reach out to us!
      </p>
      <form class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">
        <div class="mb-4">
          <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
            >Name:</label
          >
          <input
            type="text"
            id="name"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C71585]"
            placeholder="Your Name"
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
            >Email:</label
          >
          <input
            type="email"
            id="email"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C71585]"
            placeholder="Your Email"
          />
        </div>
        <div class="mb-4">
          <label
            for="message"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Message:</label
          >
          <textarea
            id="message"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C71585]"
            placeholder="Your Message"
            rows="4"
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-[#C71585] text-white px-6 py-2 rounded-md hover:bg-[#B03060] transition duration-300"
        >
          Send Message
        </button>
      </form>
    </div>
  </div>
</section> -->




