<!-- <nav class="navbar">
   
    
    <div class="navbar-menu">
      <button class="navbar-item" routerLink="/">
        <fa-icon [icon]="['fas', 'home']" class="fa-home" style="color: rgb(255, 0, 81);"></fa-icon >
      </button>
      <button class="navbar-item" routerLink="/about" style="color: rgb(255, 0, 81);">
        About Us
      </button>
      <button class="navbar-item" routerLink="/contact" style="color: rgb(255, 0, 81);">
        Contact
      </button>
      <button class="navbar-item" routerLink="/el" style="color: rgb(255, 0, 81);">
       Event List
      </button>
      <button class="navbar-item" routerLink="/blog" style="color: rgb(255, 0, 81);">
        Blog
      </button>
      <br>
      <br>
      <button class="navbar-item" routerLink="/login" style="color: rgb(255, 0, 81);">
        Log-in
      </button>
      <button class="navbar-item" routerLink="/up">
        <fa-icon [icon]="faUserCog" class="fa-home" style="color: rgb(255, 0, 81);"></fa-icon >
      </button>
      
    </div>
    <div class="navbar-right">
      <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search event">        
      </div>      
   </div>
  </nav>
 -->




  <div class="text-white body-font fixed top-0 bg-gradient-to-b from-black w-full z-50">
    <div class=" px-16 flex flex-wrap p-5 flex-col md:flex-row items-center">
    <!-- <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <img src="https://i.pinimg.com/474x/c2/47/91/c24791b343ac07bac0bc159fa548019d.jpg" class="w-24" alt="">
    </a> -->
    <ul class="hidden lg:flex flex-row space-x-3 w-1/2 ml-12 text-sm">  
      <button class="navbar-item" routerLink="/">
        <fa-icon [icon]="['fas', 'home']" class="fa-home" style="color: rgb(255, 0, 81);"></fa-icon >
      </button>  
      <button class="navbar-item" routerLink="/el" style="color: rgb(255, 0, 81);">
        Event List
       </button>
       <button class="navbar-item" routerLink="/up">
        <fa-icon [icon]="faUserCog" class="fa-home" style="color: rgb(255, 0, 81);"></fa-icon >
      </button>
     
       <!-- <li class="font-semibold">Beranda</li>
       <li>Acara Tv</li>
       <li>Film</li>
       <li>Terbaru</li>
       <li>Daftar Saya</li> -->
  
    </ul>
    
    <nav  class="md:ml-auto hidden lg:flex flex-wrap space-x-6 items-center text-base justify-center font-semibold">
        <svg class="w-6 h-6 font-bold" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"></path></svg>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
        <button class="navbar-item" routerLink="/login" style="color: rgb(255, 0, 81);">
          Log-in
        </button>
    </nav>
    </div>
  </div>  
 
       
          
            
            
  
  
  
  
  