<app-navbar></app-navbar>
<a routerLink="/" class="keep-Exploring-button">Keep Exploring Events</a>
<div class="not-found-container">
    <div class="not-found-content">
        <img src=" https://img.freepik.com/premium-vector/page-found-404-design-error-page-icon-vector-illustration-outline-filled-design-development-style-icon_7280-8554.jpg" alt="Not Found Icon" class="not-found-icon">
        <h1>We couldn't find your page</h1>
        <p>But we still have millions more Events for you to browse.</p>
        
    </div>
</div>


<!-- https://i.pinimg.com/474x/16/cc/e8/16cce8b33bed582c8239ca4fa8a39ec0.jpg -->
<!-- https://i.pinimg.com/474x/bb/ad/2e/bbad2e18aa61893dfbcc5b055bd75072.jpg -->




<!-- https://img.freepik.com/premium-vector/page-found-404-design-error-page-icon-vector-illustration-outline-filled-design-development-style-icon_7280-8554.jpg -->

<!-- <div class="not-found-content" style="background-image: url('https://i.pinimg.com/474x/bb/ad/2e/bbad2e18aa61893dfbcc5b055bd75072.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; width: 100vw;"> -->