<app-navbar></app-navbar>
<div class="detail-container">
  <div *ngIf="event; else loading" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
      <img
        class="rounded-t-lg"
        src="https://i.pinimg.com/564x/af/6f/3b/af6f3b0664f76e94fac35c3509084244.jpg"
        alt=""
      />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ event.title }}</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ event.description }}</p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Location: {{ event.location }}</p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Price: ${{ event.price }}</p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Date: {{ event.date | date }}</p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Time: {{ event.time }}</p>
      <a 
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" 
        (click)="toggleBookingForm()">
        Book
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
      
        <!-- Booking Form -->
        <div *ngIf="showBookingForm" class="booking-form-container">
        <form (ngSubmit)="bookEvent()">
          <label for="ticketType">Ticket Type:</label>
          <select id="ticketType" [(ngModel)]="selectedTicketTypeId" name="ticketType">
            <option *ngFor="let ticketType of event.ticketTypes" [value]="ticketType.id">{{ ticketType.type }}</option>
          </select>
          <button type="submit">Confirm Booking</button>
        </form>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <p>Loading event details...</p>
  </ng-template>
</div>
<button class="button" [routerLink]="['/my-bookings']">View My Bookings</button>
<button class="button" [routerLink]="['/reset']">reset</button>