<!-- <nav class="navbar">
   
    <div class="navbar-brand">
      <a routerLink="/">
        <img src="../assets/sm.png" alt="Event ">
      </a>
    </div>
    <div class="navbar-menu">
      <button class="navbar-item" routerLink="/">
        <fa-icon [icon]="['fas', 'home']" class="fa-home"></fa-icon>
      </button>
      <button class="navbar-item" routerLink="/about">
        About Us
      </button>
      <button class="navbar-item" routerLink="/contact">
        Contact
      </button>
      <button class="navbar-item" routerLink="/brand">
        Brand
      </button>
      <button class="navbar-item" routerLink="/blog">
        Blog
      </button>
    </div>
    <div class="navbar-right">
      <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search event">
        <fa-icon class="search-icon" [icon]="['fas', 'search']" (click)="handleSearch()"></fa-icon>
      </div>
      
      <a href="" class="icon-button">
       
      </a>
      
    </div>
  </nav> -->

  <nav class="navbar">
    <div class="search-container">
      <input type="text" placeholder=" Search..." class="search-input">
    </div>
    <div class="icons">
      <i class="fas fa-moon"></i>
      <i class="fas fa-shopping-cart">
        <span class="badge">9</span>
      </i>
      <i class="fas fa-bell"></i>
      <i class="fas fa-th"></i>
      <img src="assets/profile-pic.png" alt="Profile" class="profile-pic">
    </div>
  </nav>
  